{{ template "headHTML" }}

<body class="p-4">
  <h1 class="mb-4 font-bold text-2xl center">{{ if .username }}{{ .username }}'s {{ else }}My {{end}}Dates</h1>
  <div class="overflow-x-auto">
    <table class="border-collapse border-gray-300 border w-full table-auto">
      <thead>
        <tr class="bg-gray-100">
          <th></th>
          <th>Date</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Age</th>
          <th>Ethnicity</th>
          <th>Occupation</th>
          <th>Place</th>
          <th>Type of Date</th>
          <th>Cost</th>
          <th>Split</th>
          <th>How Ended</th>
        </tr>
      </thead>
      <tbody id="table-body">
        {{ range $_, $date := .dates }}
        <tr>
          {{ if len .Places | eq 1 }}
          <td></td>
          <td>{{ .Date | formatDate }}</td>
          <td>{{ .FirstName }}</td>
          <td>{{ .LastName }}</td>
          <td>{{ .Age }}</td>
          <td class="token-list">
              {{ template "tokenList" .Ethnicity }}
          </td>
          <td>{{ .Occupation }}</td>
          {{ range .Places }}
          <td>{{ .Place }}</td>
          <td>{{ .TypeOfPlace }}</td>
          <td class="text-right">{{ .Cost | formatCost }}</td>
          <td>{{ .Split | formatSplit }}</td>
          {{ end }}
          <td>{{ .Result }}</td>
          {{ else }}
          <td class="text-center">
            <i class='bxs-right-arrow bx' onclick="toggle(event)" data-id="{{- $date.ID | getHex -}}"></i>
          </td>
          <td>{{ .Date | formatDate }}</td>
          <td>{{ .FirstName }}</td>
          <td>{{ .LastName }}</td>
          <td>{{ .Age }}</td>
          <td class="token-list">
              {{ template "tokenList" .Ethnicity }}
          </td>
          <td>{{ .Occupation }}</td>
          <td></td>
          <td></td>
          <td class="text-right">{{ .Cost | formatCost }}</td>
          <td></td>
          <td>{{ .Result }}</td>
        </tr>
        {{ range .Places }}
        <tr data-date="{{- $date.ID | getHex -}}" class="hidden">
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>{{ .Place }}</td>
          <td>{{ .TypeOfPlace }}</td>
          <td class="text-right">{{ .Cost | formatCost }}</td>
          <td>{{ .Split | formatSplit }}</td>
          <td></td>
        </tr>
        {{ end }}
        {{ end }}
        {{ end }}
      </tbody>
    </table>
  </div>
  <script>
    function toggle(event) {
      let arrow = event.target;
      let id = arrow.getAttribute("data-id");
      let children = document.querySelectorAll('[data-date]');
      children.forEach((node) => {
        node.classList.toggle("hidden");
      })
      arrow.classList.toggle("rotate-90")
    }
  </script>
</body>

{{ template "footerHTML" }}