{{ template "headHTML" }}

<body>
    <h2 class="text-center">Date Form</h2>
    <form action="/api/date/new" method="post" class="mx-auto max-w-md">
        <div class="vertical">
            <label for="first_name" class="block">First Name:</label>
            <input type="text" id="first_name" name="first_name" required>
        </div>

        <div class="vertical">
            <label for="last_name" class="block">Last Name:</label>
            <input type="text" id="last_name" name="last_name">
        </div>

        <div class="vertical">
            <label for="ethnicity" class="block">Ethnicity:</label>
            <input type="text" id="ethnicity" name="ethnicity" required>
        </div>

        <div class="vertical">
            <label for="occupation" class="block">Occupation:</label>
            <input type="text" id="occupation" name="occupation" required>
        </div>
        <button onclick="addPlace(event)">Add another venue</button>
        <div id="places">
            <fieldset>
                <div class="vertical">
                    <label for="place" class="block">Location:</label>
                    <input type="text" name="place" required>
                </div>
                <div class="vertical">
                    <label for="type_of_place" class="block">Type of Date:</label>
                    <select name="type_of_place" required>
                        <option value="">Select Type</option>
                        <option value="Meal">Meal</option>
                        <option value="Drink">Drink</option>
                        <option value="Casual">Casual</option>
                        <option value="Formal">Formal</option>
                        <option value="Adventure">Adventure</option>
                    </select>
                </div>
                <div class="vertical">
                    <label for="cost" class="block">Cost:</label>
                    <input type="text" name="cost" required>
                </div>
                <div class="vertical">
                    <label for="split" class="block">Split (Yes/No):</label>
                    <select name="split" required>
                        <option value="">Select Option</option>
                        <option value="True">Yes</option>
                        <option value="False">No</option>
                    </select>
                </div>
            </fieldset>
        </div>

        <div class="vertical">
            <label for="result" class="block">How Ended:</label>
            <input type="text" id="result" name="result" required>
        </div>

        <div class="vertical">
            <label for="age" class="block">Age:</label>
            <input type="text" id="age" name="age" required>
        </div>

        <div class="vertical">
            <label for="date" class="block">Date:</label>
            <input type="date" id="date" name="date" required>
        </div>


        <input type="submit" value="Submit"
            class="bg-green-500 hover:bg-green-600 px-4 py-2 rounded w-full font-bold text-white cursor-pointer">
    </form>

    {{ template "footerHTML" }}