{{ template "headHTML" }}

<body class="p-4">
  <div class="flex justify-center">
    <h1 class="mx-auto my-2 font-bold text-2xl">{{ .username }}'s Dates</h1>
    {{ if .user }}
    <a href="/date/new" class="hover:animate-beat-once addDate" type="button">
      <i class="align-text-top">New Date</i>
      <i class='text-2xl bx bxs-book-add'></i>
    </a>
    {{ end }}
  </div>
  <div class="overflow-x-auto">
    <table class="border-collapse border-gray-300 border w-full table-auto">
      <thead>
        <tr class="bg-gray-100">
          {{ if $.user }}
          <th></th>
          {{ end }}
          <th></th>
          <th>Date</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Age</th>
          <th>Ethnicity</th>
          <th>Occupation</th>
          <th>Place</th>
          <th>Type of Date</th>
          <th>Cost</th>
          <th>Split</th>
          <th>How Ended</th>
        </tr>
      </thead>
      <tbody id="table-body">
        {{ range $_, $date := .dates }}
        <tr>
          {{ if len .Places | eq 1 }}
          {{ if $.user }}
          <td>
            <div class="flex justify-center align-middle">
              <a href="/date/edit/{{- $date.ID | getHex -}}">
                <i class='bx bxs-edit'></i>
              </a>
              <form action="/api/date/delete/{{- $date.ID | getHex -}}" method="post">
                <button type="submit">
                  <i class='bx bx-x-circle'></i>
                </button>
              </form>
            </div>
          </td>
          {{ end }}
          <td></td>
          <td>{{ .Date | formatDate }}</td>
          <td>{{ .FirstName }}</td>
          <td>{{ .LastName }}</td>
          <td>{{ .Age }}</td>
          <td class="token-list">
            {{ template "tokenList" .Ethnicity }}
          </td>
          <td>{{ .Occupation }}</td>
          {{ range .Places }}
          <td>{{ .Place }}</td>
          <td>{{ .TypeOfPlace }}</td>
          <td class="text-right">{{ .Cost | formatCost }}</td>
          {{ end }}
          <td>{{ .Split | formatSplit }}</td>
          <td>{{ .Result }}</td>
          {{ else }}
          {{ if $.user }}
          <td>
            <div class="flex justify-center align-middle">
              <a href="/date/edit/{{- $date.ID | getHex -}}">
                <i class='bx bxs-edit'></i>
              </a>
              <form action="/api/date/delete/{{- $date.ID | getHex -}}" method="post">
                <button type="submit">
                  <i class='bx bx-x-circle'></i>
                </button>
              </form>
            </div>
          </td>
          {{ end }}
          <td class="text-center">
            <i class='bxs-right-arrow bx' onclick="toggle(event)" data-id="{{- $date.ID | getHex -}}"></i>
          </td>
          <td>{{ .Date | formatDate }}</td>
          <td>{{ .FirstName }}</td>
          <td>{{ .LastName }}</td>
          <td>{{ .Age }}</td>
          <td class="token-list">
            {{ template "tokenList" .Ethnicity }}
          </td>
          <td>{{ .Occupation }}</td>
          <td></td>
          <td></td>
          <td class="text-right">{{ .Cost | formatCost }}</td>
          <td>{{ .Split | formatSplit }}</td>
          <td>{{ .Result }}</td>
        </tr>
        {{ range .Places }}
        <tr data-date="{{- $date.ID | getHex -}}" class="hidden">
          {{ if $.user }}<td></td>{{ end }}
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>{{ .Place }}</td>
          <td>{{ .TypeOfPlace }}</td>
          <td class="text-right">{{ .Cost | formatCost }}</td>
          <td></td>
          <td></td>
        </tr>
        {{ end }}
        {{ end }}
        {{ end }}
      </tbody>
    </table>
  </div>
  <script>
    function toggle(event) {
      let arrow = event.target;
      let id = arrow.getAttribute("data-id");
      let children = document.querySelectorAll(`[data-date='${id}']`);
      children.forEach((node) => {
        node.classList.toggle("hidden");
      })
      arrow.classList.toggle("rotate-90")
    }
  </script>
</body>

{{ template "footerHTML" }}