{{ template "headHTML" . }}
<body>
    <div class="absolute hidden w-screen h-screen">
        <div class="top-0 left-1/2 absolute w-1/2 h-full">
            <form action="/api/contact" method="post">
                <label for="name">Name:</label>
                <input type="text" name="name" id="name">
                <label for="email">Email:</label>
                <input type="email" name="email" id="email">
                <label for="issue">Issue: (Describe the error)</label>
                <textarea name="issue" id="issue" cols="30" rows="10"></textarea>
            </form>
        </div>
    </div>
    <main class="place-items-center grid px-6 lg:px-8 py-24 sm:py-32 min-h-full">
        <div class="text-center">
            <p class="font-semibold text-base">{{ .errorCode }}</p>
            <h1 class="mt-4 font-bold text-3xl sm:text-5xl tracking-tight">{{ .errorName }}</h1>
            <p class="mt-6 text-base leading-7">{{ .errorMessage }}</p>
            <div class="flex justify-center items-center gap-x-6 mt-10">
                <a href="/"
                class="bg-indigo-600 hover:bg-indigo-500 shadow-sm px-3.5 py-2.5 rounded-md font-semibold text-sm text-white focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Go
                back home</a>
                <a href="" class="font-semibold text-sm" id="contact">Contact support <span
                    aria-hidden="true">&rarr;</span></a>
        </div>
    </div>
</main>
{{ template "footerHTML" . }}