{{ define "footerHTML" }}
<footer>
    <div class="mx-auto px-4 container">
        <div class="flex justify-center mb-4">
            <a href="#" class="mr-4 footer-link">Facebook</a>
            <a href="#" class="mr-4 footer-link">Instagram</a>
            <a href="#" class="footer-link">Twitter</a>
        </div>
        <div class="text-center">
            <p class="mb-2">&copy; 2024 LittleBlackBook. All rights reserved.</p>
            <div>
                <a href="/privacyPolicy" class="mr-4 footer-link">Privacy Policy</a>
                <a href="/termsOfService" class="footer-link">Terms of Service</a>
            </div>
        </div>
    </div>
</footer>
</body>

</html>
{{ end }}