{{ template "headHTML" }}

<body>
    <h1 class="text-center">Login</h1>
    <form class="flex flex-col max-w-48" action="/login" method="POST">
        <label for="username">Username:</label>
        <input class="vertical" type="text" id="username" name="username">
        <label for="password">Password:</label>
        <input class="vertical" type="password" id="password" name="password">
        <input class="vertical" type="submit" value="Login">
    </form>

    {{ template "footerHTML" }}