{{ template "headHTML" }}
<body>
    <h2 class="text-center">Register</h2>
    <form action="/api/user/new" method="POST" enctype="multipart/form-data" autocomplete="on" class="mx-auto max-w-md">
        <div class="vertical">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" autocomplete="username">
        </div>
        <div class="vertical">
            <label for="first_name">First Name:</label>
            <input type="text" id="first_name" name="first_name" autocomplete="given-name">
        </div>
        <div class="vertical">
            <label for="last_name">Last Name:</label>
            <input type="text" id="last_name" name="last_name" autocomplete="family-name">
        </div>
        <div class="vertical">
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" minlength=8 autocomplete="new-password">
        </div>
        <div class="vertical">
            <label for="profilePic">Profile Picture</label>
            <input type="file" name="profilePic" id="profilePic" accept="image/*">
        </div>
        <div>
            <input type="submit" value="Register"></input>
        </div>
    </form>
{{ template "footerHTML" }}