<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Date Form</title>
    <link href="./static/styles.css" rel="stylesheet">
    <script type="text/javascript" src="/static/scripts.js"></script>
</head>

<body class="p-4">
    <h2 class="text-2xl font-bold mb-4">Date Form</h2>
    <form action="/api/date/new" method="post" class="max-w-md mx-auto">
        <div class="mb-4">
            <label for="first_name" class="block mb-1">First Name:</label>
            <input type="text" id="first_name" name="first_name" required
                class="w-full px-4 py-2 border rounded-md focus:outline-none focus:border-blue-500">
        </div>

        <div class="mb-4">
            <label for="last_name" class="block mb-1">Last Name:</label>
            <input type="text" id="last_name" name="last_name"
                class="w-full px-4 py-2 border rounded-md focus:outline-none focus:border-blue-500">
        </div>

        <div class="mb-4">
            <label for="ethnicity" class="block mb-1">Ethnicity:</label>
            <input type="text" id="ethnicity" name="ethnicity" required
                class="w-full px-4 py-2 border rounded-md focus:outline-none focus:border-blue-500">
        </div>

        <div class="mb-4">
            <label for="occupation" class="block mb-1">Occupation:</label>
            <input type="text" id="occupation" name="occupation" required
                class="w-full px-4 py-2 border rounded-md focus:outline-none focus:border-blue-500">
        </div>
        <button onclick="addPlace(event)">Add another venue</button>
        <div id="places">
            <fieldset>
                <div class="mb-4">
                    <label for="place" class="block mb-1">Location:</label>
                    <input type="text" name="place" required
                        class="w-full px-4 py-2 border rounded-md focus:outline-none focus:border-blue-500">
                </div>
                <div class="mb-4">
                    <label for="type_of_place" class="block mb-1">Type of Date:</label>
                    <select name="type_of_place" required
                        class="w-full px-4 py-2 border rounded-md focus:outline-none focus:border-blue-500">
                        <option value="">Select Type</option>
                        <option value="Meal">Meal</option>
                        <option value="Drink">Drink</option>
                        <option value="Casual">Casual</option>
                        <option value="Formal">Formal</option>
                        <option value="Adventure">Adventure</option>
                    </select>
                </div>
                <div class="mb-4">
                    <label for="cost" class="block mb-1">Cost:</label>
                    <input type="text" name="cost" required
                        class="w-full px-4 py-2 border rounded-md focus:outline-none focus:border-blue-500">
                </div>
                <div class="mb-4">
                    <label for="split" class="block mb-1">Split (Yes/No):</label>
                    <select name="split" required
                        class="w-full px-4 py-2 border rounded-md focus:outline-none focus:border-blue-500">
                        <option value="">Select Option</option>
                        <option value="True">Yes</option>
                        <option value="False">No</option>
                    </select>
                </div>
            </fieldset>
        </div>

        <div class="mb-4">
            <label for="result" class="block mb-1">How Ended:</label>
            <input type="text" id="result" name="result" required
                class="w-full px-4 py-2 border rounded-md focus:outline-none focus:border-blue-500">
        </div>

        <div class="mb-4">
            <label for="age" class="block mb-1">Age:</label>
            <input type="text" id="age" name="age" required
                class="w-full px-4 py-2 border rounded-md focus:outline-none focus:border-blue-500">
        </div>

        <div class="mb-4">
            <label for="date" class="block mb-1">Date:</label>
            <input type="date" id="date" name="date" required
                class="w-full px-4 py-2 border rounded-md focus:outline-none focus:border-blue-500">
        </div>


        <input type="submit" value="Submit"
            class="w-full bg-green-500 text-white font-bold py-2 px-4 rounded cursor-pointer hover:bg-green-600">
    </form>
</body>

</html>