{{ define "tokenEditor" }}
{{ range . }}
<div class="token">
    <div class="token-label">{{ . }}</div>
    <div class="token-close"><i class="align-middle bx bx-x-circle"></i></div>
</div>
{{ end }}
{{ end }}