{{ define "tokenEditor" }}
{{ range . }}
<div class="token">
    <div class="token-label">{{ . }}</div>
    <input type="hidden" name="ethnicity" value="{{ . }}" />
    <div class="token-close" onclick="this.parentElement.remove()"><i class="align-middle bx bx-x-circle"></i></div>
</div>
{{ end }}
{{ end }}