/**
 * This injects Tailwind's base styles and any base styles registered by
 * plugins.
 */
@tailwind base;

/**
  * This injects Tailwind's component classes and any component classes
  * registered by plugins.
  */
@tailwind components;

/**
  * This injects Tailwind's utility classes and any utility classes registered
  * by plugins.
  */
@tailwind utilities;

/**
  * Use this directive to control where Tailwind injects the hover, focus,
  * responsive, dark mode, and other variants of each class.
  *
  * If omitted, Tailwind will append these classes to the very end of
  * your stylesheet by default.
  */
@tailwind variants;

@layer base {
  body {
    @apply tracking-tight dark:bg-slate-900 dark:text-slate-200;
    font-family: "Courier New", Courier, monospace;
  }
  h1 {
    @apply font-bold text-4xl;
  }
  h2 {
    @apply font-bold text-2xl;
  }
  label {
    @apply mb-1;
  }
  input {
    @apply rounded px-2 py-1 bg-transparent border-gray-400 text-inherit border-2 border-opacity-75 w-full;
  }
  input:focus {
    @apply border-teal-700 border-opacity-95 animate-beat-once;
    outline: none;
  }
  select {
    @apply rounded px-2 py-1 bg-transparent border-gray-400 text-inherit border-2 border-opacity-75 w-full;
  }
  input[type="submit"] {
    @apply bg-teal-700 hover:bg-teal-500 border-none text-slate-200 transition-colors;
  }
  footer {
    @apply py-4;
  }
  th {
    @apply dark:bg-slate-600 px-4 py-2;
  }
  td {
    @apply px-4 py-2 border;
  }
}

@layer components {
  .horizontal {
    @apply mr-2;
  }
  .vertical {
    @apply mb-2;
  }
  .token {
    @apply text-xs px-2 my-1 mx-1 py-1 bg-teal-700 rounded-full text-gray-100 flex cursor-default w-fit h-fit;
  }
  .token-close {
    @apply cursor-pointer hover:text-red-500 ml-1 text-gray-400;
  }
  .token-list {
    @apply flex flex-wrap px-0 py-0 max-w-full;
  }
  a.addDate {
    @apply font-mono border-2 border-opacity-40 border-lime-800 rounded-2xl px-4 py-2 text-center hover:bg-lime-400 hover:animate-beacon transition-colors;
    line-height: 1rem;
  }
  a.inactive {
    @apply hover:border-gray-300 px-1 pt-1 border-transparent border-b-2 font-medium text-gray-500 text-sm hover:text-gray-700
  }
  a.active {
    @apply border-indigo-500 px-1 pt-1 border-b-2 font-medium text-gray-900 text-sm pointer-events-none
  }
}
